.yoga-img {
    padding: 10px;
    height: 14rem;
}

.card-content {
    border-radius: 0 0 2px 2px;
}

.card-title {
    color: black;
}

#quote-here {
    flex-wrap:wrap;
}
.sleep-text {
    text-align: center;
}