body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding-bottom: 15px;
    position: relative;
}

.collapsible {
    position: absolute;
    right: 0px;
    z-index: 1
    ;
}

.collapsible-header {
    opacity: .7;
    height: 3rem;
    align-items: center;
}

.collapsible-body {
    background-color: white;
}

.collapsible.popout>li.active {
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    margin: 16px 20px;
}

.collapsible-img {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
}

img.vedomy-logo {
    height: 13rem;
}

img.responsive-img, video.responsive-video {
    max-width: 100%;
    height: 15rem;
}

.subtitle {
    margin-top: 0px;
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #c1b5d6;
}


.row.center-align.breathe-column {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;

}

.mood-button.hide-mobile {
    min-width: 15rem;
}

a.col.s6.waves-effect.waves-light.btn.modal-trigger {
    width: 75%;
}

.col.s12.m4.l3.left {
    padding-left: 20px;
}

.row {
    padding-top: 10px;
    margin-top: 5px;
}

.header-elements {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.col.s12.m4.l3.left.quote-column {
    order: -1;
    display: flex;
    justify-content: center;
}

.main-body {
    padding: 30px;
    padding-top: 15px;
}

.yoga-img {
    padding: 10px;
    height: 14rem;
}

.add-update-box {
    display: flex;
    justify-content: center;
}

.card .card-image {
    position: relative;
    padding: 20px;
    width: 100%;
}

.card-image {
    width: 100%;
}

.yoga-card {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;

}

.card.hoverable {
    margin-top: 0px;
}

.food-card {
    text-align: center;
}

.card-content {
    border-radius: 0 0 2px 2px;
}

.card-image {
    text-align: center;
}

.yoga-content {
    padding-top: 0px;
}

.card-title {
    color: black;
    padding-top: 10px;
}

p.section {
    text-align: center;
}

#breatheBox {
    margin: 0 auto;
}

.breathButton {
    text-align: center;
    margin-top: 10px;
}

.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin-right: auto;
}

.sleep-button {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #4527a0;
    letter-spacing: 0px;
}

.btn:hover {
    background-color: #7e57c2;
}

.btn-floating.btn-large {
    width: 3rem;
    height: 3rem;
    padding: 0;
}

#quote-here {
    flex-wrap:wrap;
    margin-top: 10px;
}

.quotetitle {
    margin-bottom: 0px;
    font-weight: 700;
}

.quote-divider {
    margin-bottom: 10px;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 0px solid #4527a0; /* Just change the color value and that's it*/
    padding-top: 10px;
  }

#author {
    padding-left: 0;
    font-style: italic;
}


.sleep-card {
    text-align: center;
}

.emoticons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.emoticons:after {
    content: none;
}

.row .col.s2 {
    width: auto;
    margin-left: 0px;
    left: auto;
    right: auto;
}

.range-field {
    margin-bottom: 0px;
}

.modal-title {
    margin-bottom: 3rem;
}

.slider-text {
    padding: 0 .75rem;
}

.select-wrapper input.select-dropdown {
    margin: 0 0 8px 30px;
}

.modal-q.input-field.col.s12 {
    display: flex;
}

.hours-title, .diet-title {
    display: flex;
    align-items: center;
}

.modal-content {
    padding-bottom: 0px;
}

.mood-button {
    display: flex;
}

.row {
    padding-right: 10px;
}
   
h5.col {
    margin-top: .5rem;
    font-style: italic;
}

.modal-trigger {
    margin: 0;
    z-index: 0;
}

.checkbox-container {
    color: black;
    padding-left: 20px;
}

.timestamp-container {
    border-radius: 10px 10px;
    border-color: black;
}

[type="checkbox"]+span:not(.lever) {
    position: relative;
    padding-left: 25px;
}

.exercise {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.valign-wrapper {
    margin-bottom: 0px;
}

#breatheBoxContainer {
    position: relative;
    margin:0 auto;
    width: 200px;
    height: 200px;
    background-color:blueviolet;
}

#breatheBox {
    position: flex;
    width: 100px;
    height: 100px;
    border:1px solid black;
    background-color:cornflowerblue;
}

.movingBox {
    animation-name: breathing;
    animation-duration: 16s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.boxText {
    display:flex;
    justify-content: center;
    margin-top: 35px;
    align-self: center;
}

.showText {
    justify-content: center;
    margin-top: 35px;
    align-self: center;
}

#textOut {
    display:none;
    justify-content: center;
    margin-top: 35px;
    align-self: center;
}

.col.s12.m8.l9.mood-box-content {
    padding-right: 20px;
}

.mood-box {
    padding-top: 0px;
    padding-right: 10px;
    margin-top: 0px;
}

.row.status {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    font-size: smaller;
}

.zenthoughts-container {
    margin-top: 0px;
    padding: 10px;
    margin-bottom: 0px;
}

.col.s12.status {
    font-size: smaller;
    min-height: 18px;
}

.col.s12.divider {
}

.placeholder-text {
    font-style: italic;
    margin-top: 5rem;
}

.row .col.s4 {
    display: flex;
}

.status-placeholder {
    justify-content: center;
}

.card.horizontal .card-image {
    max-width: 10rem;
    padding: 0px;
}

.card-image.waves-effect.waves-block.waves-light {
    padding-bottom: 0px;
}

i.material-icons.light-green-text {
    vertical-align: middle;
}

.card.horizontal .card-image img {
    height: 6rem;
}

#first-zen {
    float: left;
}

#second-zen {
    float: right;
}

img.col.s2.zen-pic.materialboxed {
    padding: 0px;
}

.feeling-text {
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-style: italic;
}

.thoughts-text {
    margin: 0 auto;
}

.sidenav-trigger {
    display: inline;
}

@keyframes breathing {
    0% {
        transform:scale(1);
        
    }
    25% {
        transform:scale(2);
    }
    50% {
        transform:scale(2);
    }
    75% {
        transform:scale(1);
    }
    100% {
        transform:scale(1);
    }
    
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

